.wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 2fr;
}

.methods {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.your-experiment {
  grid-column: 2;
  grid-row: 1 / 2;
}

.training-validation {
    grid-column: 2;
    grid-row: 2;
}

.about {
    grid-column: 2;
    grid-row: 3;
}