.title {
  margin: 5px;
  width: 100%;
}

p {
  font: 0.8em sans-serif;
}

.exploration-tree-container
  .groupContainer:nth-child(odd)
  .tree-view
  > .tree-view_item {
  background-color: gainsboro;
}
