/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}

.exploration-tree-container
  .groupContainer:nth-child(odd)
  .tree-view
  > .tree-view_item {
  background-color: gainsboro;
}

.tree-view_item {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  /* immediate child of .tree-view, for styling convenience */
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow:after {
  content: '▾';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.tree-view_item .title {
  margin: 5px;
}

.tree-view_item .description {
  margin: 0 5px;
  font: 0.8em sans-serif;
}

.tree-view_item:hover {
  background-color: hsla(224, 53%, 60%, 0.1);
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

